beautifulsoup4==4.12.3
elevenlabs==0.2.27
fake_useragent==1.4.0
Flask==2.3.2
gtts==2.5.1
moviepy==1.0.2
openai==1.12.0
praw==7.7.1
pyfiglet==1.0.2
python-dotenv==1.0.1
pytube==15.0.0
Requests==2.31.0
requests_auth_aws_sigv4==0.7
requests_html==0.10.0
rich==13.7.0
schedule==1.2.1
setuptools==68.0.0
supabase==2.3.7
undetected_chromedriver==3.5.5
Pillow==8.0.0
google-api-python-client
pytube